<div class="container mt-3">
    <div class="mb-4">
      <h1 class="mb-3">Acerca de CountryApp</h1>
      <p>CountryApp es una aplicación web desarrollada para proporcionar información detallada sobre los países del mundo. Utiliza datos de la API Rest Countries para presentar la información más actualizada sobre cada país.</p>
    </div>
    
    <div>
      <h2 class="mb-3">Tecnologías Utilizadas</h2>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Angular</li>
        <li class="list-group-item">TypeScript</li>
        <li class="list-group-item">Bootstrap para el diseño</li>
        <li class="list-group-item">API Rest Countries para los datos de los países</li>
      </ul>
    </div>
  </div>
  